@keyframes spinAndPulse {
  0% {
    transform: rotate(0deg) scale(1);
    filter: brightness(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
    filter: brightness(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
    filter: brightness(1);
  }
}

#cookie {
  animation: spinAndPulse 3s linear infinite;
  transform-origin: center center;
  will-change: transform;
  cursor: pointer;
}

#game-clickable-area.active {
  transform: scale(1.2);
  transition: transform 0.1s;
}

#game-shop {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;

  height: 100vh;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: #442c033b;
  border-left: 2px solid #ddd;
}
